.footer{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.footer__article{
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 12px;
}

.footer__article__icono{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

@media(min-width: 1200px){

    .footer{
        display: flex;
    }
}