<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div>
            <p>Acá va la barra de busqueda</p>
            <img src="/images/logo-mercado-liebre.svg" alt="Imagen del logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div>
                    <p>$6.670</p>
                    <p>40% off</p>
                    <p></p>
                </div>
            </article>
            <article>
                
            </article>
            <article>
                
            </article>
            <article>
                
            </article>
        </section>
        <section>

        </section>
    </main>

    <footer>

    </footer>
</body>
</html>